<template>
  <div>
    <a-card :title="addFormState.title" style="width: 600px;margin-top: 200px;margin-left: 600px;">
      <template #extra>
        <router-link to="/">Return to query list</router-link>
      </template>
      <a-form
        ref="addFormRef"
        :model="addFormState.formData"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 14 }"
        autocomplete="off"
        @finish="addOrUpdate"
      >
        <a-form-item label="title" name="title" :rules="[{ required: true, message: 'Input title' }]">
          <a-input v-model:value="addFormState.formData.title" />
        </a-form-item>

        <a-form-item label="optionA" name="option0" :rules="[{ required: true, message: 'Input Option1!' }]">
          <a-input v-model:value="addFormState.formData.option0" />
        </a-form-item>

        <a-form-item label="optionB" name="option1" :rules="[{ required: true, message: 'Input Option2!' }]">
          <a-input v-model:value="addFormState.formData.option1" />
        </a-form-item>

        <a-form-item label="optionC" name="option2" :rules="[{ required: true, message: 'Input Option3!' }]">
          <a-input v-model:value="addFormState.formData.option2" />
        </a-form-item>

        <a-form-item label="optionD" name="option3" :rules="[{ required: true, message: 'Input Option4!' }]">
          <a-input v-model:value="addFormState.formData.option3" />
        </a-form-item>

        <a-form-item
          label="answer"
          name="answer"
          :rules="[{ required: true, message: 'Input answer!' }]"
        >
          <a-radio-group v-model:value="addFormState.formData.answer" name="radioGroup">
            <a-radio :value="0">A</a-radio>
            <a-radio :value="1">B</a-radio>
            <a-radio :value="2">C</a-radio>
            <a-radio :value="3">D</a-radio>
          </a-radio-group>
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 6, span: 8 }">
          <a-button @click="initAddForm">Remake</a-button>
          <a-button type="primary" html-type="submit" style="margin-left: 10px;">Confirm</a-button>
        </a-form-item>
      </a-form>
    </a-card>
  </div>
</template>

<script setup>
import { onMounted, reactive, ref } from "vue"
import questionApi from "@/api/questionApi.js"
import { message } from "ant-design-vue"
import { useRoute, useRouter } from "vue-router"

const route = useRoute()
onMounted(() => {
  initData()
})

const addFormRef = ref()
const addFormState = reactive({
  title: "add question",
  visible: false,
  confirmLoading: false,
  formData: {
    id: null,
    title: "",
    option0: "",
    option1: "",
    option2: "",
    option3: "",
    answer: 0
  }
})
const initAddForm = () => {
  addFormRef.value.clearValidate()

  addFormState.formData.id = null
  addFormState.formData.title = ""
  addFormState.formData.option0 = ""
  addFormState.formData.option1 = ""
  addFormState.formData.option2 = ""
  addFormState.formData.option3 = ""
  addFormState.formData.answer = 0
}

const addOrUpdate = () => {
  addFormState.confirmLoading = true

  addFormRef.value
    .validate()
    .then(() => {
      let options = []
      options.push(addFormState.formData.option0)
      options.push(addFormState.formData.option1)
      options.push(addFormState.formData.option2)
      options.push(addFormState.formData.option3)

      if (route.params.id) {
        const params = {
          id: route.params.id,
          title: addFormState.formData.title,
          options: options,
          answer: addFormState.formData.answer
        }
        questionApi
          .edit(params)
          .then(({ data }) => {
            if (data.code === 200) {
              addFormState.confirmLoading = false
              message.success(data.message)
            } else {
              addFormState.confirmLoading = false
              message.error(data.message)
            }
          })
          .catch((err) => {
            addFormState.confirmLoading = false
            console.log(err)
          })
      } else {
        const params = {
          title: addFormState.formData.title,
          options: options,
          answer: addFormState.formData.answer
        }
        questionApi
          .add(params)
          .then(({ data }) => {
            if (data.code === 200) {
              initAddForm()
              addFormState.confirmLoading = false
              message.success(data.message)
            } else {
              addFormState.confirmLoading = false
              message.error(data.message)
            }
          })
          .catch((err) => {
            addFormState.confirmLoading = false
            console.log(err)
          })
      }
    })
    .catch(() => {
      addFormState.confirmLoading = false
      message.error("Check if the table is complete")
    })
}

const initData = () => {
  addFormState.confirmLoading = true
  if (route.params.id) {
    addFormState.title = "Change question"

    questionApi
      .getById(route.params.id)
      .then(({ data }) => {
        if (data.code === 200) {
          addFormState.confirmLoading = false
          addFormState.formData = data.data
          message.success(data.message)
        } else {
          addFormState.confirmLoading = false
          message.error(data.message)
        }
      })
      .catch((err) => {
        addFormState.confirmLoading = false
        console.log(err)
      })
  }
}

</script>

<style scoped></style>
