<template>
  <div class="show-card">
    <div>
      <a-button type="primary" @click="list">Query list</a-button>
      <a-button type="primary" @click="toAdd" style="margin-left: 10px;">Add</a-button>

      <div style="margin-top: 10px;">
        <a-table
          rowKey="id"
          :columns="tableState.columns"
          :data-source="tableState.dataList"
          :loading="tableState.loading"
        >
          <template #bodyCell="{ column, record }">
            <template v-if="column.key === 'options'">
              {{ record.options }}
            </template>

            <template v-if="column.key === 'action'">
              <a @click="toUpdate(record.id)">Change</a>
              <a-divider type="vertical" />
              <a-popconfirm
                title="Confirm deletion？"
                ok-text="Delete"
                cancel-text="Cancel"
                @confirm="delQuestion(record.id)"
              >
                <a>Delete</a>
              </a-popconfirm>
            </template>
          </template>
        </a-table>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted, reactive } from "vue"
import questionApi from "@/api/questionApi.js"
import { message } from "ant-design-vue"
import { useRouter } from "vue-router"

const router = useRouter()

onMounted(()=>{
  list()
})
const tableState = reactive({
  columns: [
    {
      title: "title",
      dataIndex: "title",
      key: "title"
    },
    {
      title: "options",
      dataIndex: "options",
      key: "options"
    },
    {
      title: "answer",
      dataIndex: "answer",
      key: "answer"
    },
    {
      title: "action",
      key: "action"
    }
  ],
  loading: false,
  dataList: []
})

const list = () => {
  tableState.loading = true
  questionApi
    .list()
    .then(({ data }) => {
      if (data.code === 200) {
        tableState.dataList = data.data

        tableState.loading = false
        message.success(data.message)
      } else {
        tableState.loading = false
        message.error(data.message)
      }
    })
    .catch((err) => {
      tableState.loading = false
      console.log(err)
    })
}

const delQuestion = (id) => {
  tableState.loading = true
  questionApi
    .remove(id)
    .then(({ data }) => {
      if (data.code === 200) {
        list()
        tableState.loading = false
        message.success(data.message)
      } else {
        tableState.loading = false
        message.error(data.message)
      }
    })
    .catch((err) => {
      tableState.loading = false
      console.log(err)
    })
}

const toAdd = () => {
  router.push("/add")
}
const toUpdate = (id) => {
  router.push({
    path: "/update/" + id
  })
}

</script>

<style scoped>
.show-card {
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  min-width: 400px
}

</style>
